<table id="table" cellspacing="0" width="100%" class="dt-bootstrap table table-striped table-bordered table-hover">
  <thead>
	<tr>
      <th id="id"></th>
      <th id="ec" class="text-center">
		Commission Proposal 
	  </th>
      <th id="ep" class="text-center btn-default"> EP Mandate</th>
      <th id="ceu" class="text-center">Council Mandate</th>
      <th id="agreement" class="text-center">Agreement</th>
	</tr>
  </thead>
</table>
