<div style="border: 1px gray solid;padding: 2px;border-radius: 3px;background:  rgba(187, 224, 255, 0.37);">
  <div class="text-center">
	<!-- TODO: put the title --> &nbsp;
  </div>
  <textarea  style="width:100%;height:{{height}}px; padding:10px;border-radius: 3px;" id="import-content"></textarea>  
  <div class="text-center">
	<button type="button" class="btn btn-xs btn-danger" id="import-cancel">Cancel [Esc]</button>
	<button type="button" class="btn btn-xs btn-success" id="import-validate"> OK [C-Entr]</button>
  </div>
</div>

