<div class="menu-bar">
  
  <div class="btn-group">
	{{#columns}}
	<button id="menu-{{id}}" data-columntype="{{id}}"  type="button" class="btn btn-default btn-xs menu-select-columntype">{{name}}</button>
	{{/columns}}
  </div>
  &nbsp;
  <div class="btn-group">
	<button id="tree-btn" data-view="tree" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-columns" aria-hidden="true"></i> Outline [T]</button>
	<button id="consolidated-btn" data-view="consolidated" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-bars" aria-hidden="true"></i> Cons [G]</button>
	<button id="grid-btn" data-view="grid" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-table" aria-hidden="true"></i> Editor [G]</button>
  </div>
  &nbsp;
  <div class="btn-group">
	<button id="import-btn" data-view="import" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-sign-in" aria-hidden="true"></i> Import [I]</button>
	<button id="import-btn" data-view="save" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save [S]</button>
	<button id="import-btn" data-view="load" type="button" class="btn btn-default btn-xs select-view"><i class="fa fa-floppy" aria-hidden="true"></i> Load [L]</button>
  </div>

  <div class="btn-group">
	<button id="doc1" data-view="doc1" type="button" class="btn btn-default btn-xs select-view"> Doc 1</button>
	<button id="doc2" data-view="doc2" type="button" class="btn btn-default btn-xs select-view"> Doc 2</button>
  </div>

</div>
