 <!doctype html>
<html lang="<%= meta.LANG %>">
  <head>
	<% include ../templates/head.ejs %>
  </head>
  <body>

	<div id="tree" class="sidenav"></div>
	
	<div id="main" class="container-fluid">	  

	  <div id="menu"></div>


	  <!--
	  <div class="row text-center">
		<div class="col-md-12">
		  <textarea id="input-doc" style="width:90%;height:50px"></textarea>
		</div>	  
	  </div>
	  
	  <div class="row">
		<div class="col-md-12">
		  <button id="read" type="button" class="btn btn-info">Read</button>
		</div>	  
	  </div>
	  
	  <div class="row text-center">
		<hr>
	  </div>

	  -->

	  <div class="section" style="margin-top:50px;">
		<div id="grid" class="col-md-12"></div>
		<div id="consolidated" class="col-md-12"></div>
		<div id="import" class="col-md-12"></div>
	  </div>
	  
	  
	</div>


<% include ../templates/footer.ejs %>

<% include ../templates/javascript-footer.ejs %>
</body>
</html>

